*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --darkerGreen: #23424A;
    --lighterGreen: #136C72;
    --purple: #87629A;
    --greyBlack: #3A3A3A;
    --lightBlue:#38CFD9;
}


html{
    font-size:62.5%; /* Now, 1rem = 10px, but 1em still equals 16px? */ 
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-size:2.1rem;  /* Now, 1em = 21px (for font-size), 1rem still = 10px */
    /* so use rem (10px baseline) for container/element, and em only for font-sizing */
}


button{
    border-radius: 35px;
    text-transform: uppercase;
    border:none; 
}

button:hover{
    cursor:pointer;
}

a{
    text-decoration: none;
}

p{
    font-weight: lighter;
    line-height:1.5em;
}

h1, h2{
    letter-spacing:-1px;
}


/* ........................ HEADER ..................... */

header{
   display:flex;
   position:sticky;
   top:0;
   min-width:100%; 
   background-color:var(--lighterGreen);
   align-items: center;
   justify-content: center;
   padding: 3.2rem 0; 
}


.hamburger__btn{
    left:2rem;
    border-radius:50%;
    background-color: var(--darkerGreen);
    padding:3.2rem 1.6rem; 
    
}

.hamburger,
.hamburger::before, 
.hamburger::after{
    border-radius: 10px;
    height:3px;
    width:30px;
    background-color:white;
} 

.hamburger{
    position:relative;
}

.hamburger::before, 
.hamburger::after{
    content:"";
    position:absolute;
    left:0;
}

.hamburger::before{
    bottom:10px;
}

.hamburger::after{
    top:10px;
}


.hamburger__btn, nav{
    position:absolute; 
}


.crl__link{
    display:flex;
}


/* anything with 'rem' needs to be calculated in px and divided by 10 for new rem value */
nav{
    margin-top:45rem;
    width:70rem;
    max-width:100%;
    /* border:1px solid hotpink; */
    display:none;
}

/* Utility Class */
.displayNav{
    display:block;

}

/* <ul> */
.nav__list{
    list-style-type: none;
}


/* <li> */
.nav__list__item{
    text-align:center; 

}

.nav__list__item:last-child{
    padding:2rem 0;
    background-color: var(--lighterGreen);
}


/* <a> */
.nav__link{
    display:block;
    background-color:var(--lighterGreen);
    text-decoration: none;
    padding:2rem 0;
    color:white;
    text-transform: uppercase;
    border-bottom:2px solid white;
}


/* <button> */
.signup{
    background-color: white;
    padding:1rem 3rem;
    font-size: 1em;
}


.nav__link__btn{
    color:var(--darkerGreen);
}


/* ........................... MAIN ..................... */
main{
    width:150rem;
    max-width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    /* border:2px solid blue; */
}

.hero, .primary{
    padding:3rem 2.5rem  /* side padding on container */
}

/* ........................... HERO ..................... */

.hero{
    background-color: var(--darkerGreen);
    color:white;
    /* border:2px solid hotpink; */
    

}

section{
    display:flex;
    flex-direction:column;
}

.right{
    align-items: center;
    margin-top:3rem;
}

/* "Holy Albatross" <-- Grace suggestion, instead of 'section > *{margin-bottom:3rem}' */
section > * + *{
    margin-top: 3rem;
}

h1{
    font-size:2.5em;
    line-height:1em;
    align-self:flex-start;
}

h1, .hero__para{
    max-width:730px;
}

.hero__btn{
    padding: 1.5rem 3rem;
    font-size:inherit;
    background-color: var(--lightBlue);
    max-width: fit-content; /*<-- if excluded, the button stretches entire col width..? Why? */

}
.hero__btn__link{
    color:var(--darkerGreen);
    font-weight:bolder;
}

.hero__img{
    width: 60rem;
    max-width:100%;
}

/* ............................... PRIMARY ......................... */

h2{
    font-size: 2.25em;
    color:var(--lighterGreen);
}

h3{
    font-size: 2em;
}

.primary__right{
    background-color:var(--lighterGreen);
    padding:3rem;
    color:white;
}

.primary__para__right{
    text-align: center;
}


@media (min-width:770px){

    header{
        justify-content: flex-start;
        padding:0;
    }

    .hamburger__btn{
        display:none;        
    }

    nav{
        /* background-color:aqua; */
        display:block; 
        position:static; /*<-- undo abs pos'ing*/
        margin-top:0;
        width:100%; 
        padding:0 2rem;
        background-color:none;        
    }

    .nav__list{
        display:flex;
        gap:2rem;
        align-items: center;
    }

    .crl__link{
        margin-left:2rem;
    }

    .link-one, .sign-in{
        margin-left:auto;
    }

    .link-one, .link-two, .link-three{
        position:relative;
        left:8rem;
    }

    .nav__link{
        border-bottom: none;
    }


    main{
        width:170rem;
    }





    .hero, .primary{
        display:flex;
        justify-content: space-between;
        gap:5rem;
        padding:5rem 3.5rem;
    }

    .hero{
        justify-content:space-around;
    }

    .right{
        margin-top:0;
    }

    .hero__right{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
}

















